<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <style>
        body {
            text-align: center;
            font-size: 18px;
        }

        #input {
            width: 350px;
            height: 32px;
            font-size: 18px;
            margin-bottom: 10px;
        }

        #button {
            padding: 8px 16px;
            font-size: 16px;
            font-weight: 600;
            border: none;
            border-radius: 2.5px;
            background-color: #2560c5;
            color: white;
        }
    </style>
</head>

<body>
    <h4>
        Reset password for <%= email %>
    </h4>

    <form action="" method="post">
        <input type="password" name="password" id="input" placeholder="Enter New Password" />
        <br />
        <input type="password" name="confirmPassword" id="input" placeholder="Confirm New Password" />
        <br />
        <input type="submit" id="button" value="Reset Password" />
    </form>

</body>

</html>